@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

/* ==========================================================================
Cards
========================================================================== */
* {
    font-family: 'Merriweather', serif;
}

#main-row {
    margin-top: 15px;
}

#green {
    background-color: #2f3a2c;
    color: #ffffff
}

#dark-brown {
    background-color: #78462d;
    color: #ffffff
}

#light-brown {
    background-color: #ab8b72;
    color: #ffffff
}

#photo-text {
    margin: 0px;
    font-size: large;
}

#anfahrt-text {
    margin: 0px;
    font-size: xx-small;
}

/* RSVP */
.rsvp {

    &--form-input-group {
        margin-top: 10px;
    }

    &--input {
        width: 100%;
        max-width: 100%;
        background-color: #ab8b72;
        color: #ffffff;
    }

    &--input::-webkit-outer-spin-button, /* Chrome, Safari, Edge, Opera */
    &--input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &--input[type=number] { /* Firefox */
      -moz-appearance: textfield;
    }

    &--textarea {
        width: 100%;
        max-width: 100%;
        background-color: #ab8b72;
        color: #ffffff;
    }

    &--input[type='radio']:after {
        width: 17px;
        height: 17px;
        border-radius: 17px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #d1d3d1;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }

    &--input[type='radio']:checked:after {
        width: 17px;
        height: 17px;
        border-radius: 17px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #ab8b72;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }

    &--label {
        margin-top: 20px;
        margin-bottom: 10px;
        margin-right: 50px;
        margin-left: 5px;
     }

    &--status {
        margin-top: 25px;
    }

     &--button {
        background-color: #ffffff5e;
        border: none;
        color: white;
        padding: 15px 32px;
        margin-top: 10px;
        margin-left: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }

      &--button:hover {
        background-color: #ffffff86;
    }
}

/* Google Drive */
.google-drive {
    &--form-input-group {
        margin-top: 10px;
    }

    &--input {
        width: 100%;
        max-width: 100%;
        background-color: #ab8b72;
        color: #ffffff;
    }

    &--input::-webkit-outer-spin-button, /* Chrome, Safari, Edge, Opera */
    &--input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &--input[type=number] { /* Firefox */
      -moz-appearance: textfield;
    }

    &--button {
        background-color: #ffffff5e;
        border: none;
        color: white;
        padding: 15px 32px;
        margin-top: 10px;
        margin-left: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }

    &--button:hover {
        background-color: #ffffff86;
    }

    &--status {
        margin-top: 25px;
    }

    &--text {
        margin-top: 10px;
    }

    &--link {
        color :#ffffff;
    }

    &--link:hover {
        color :#ffffff;
    }
}

/* Timeline */
.timeline {
    margin: 10px auto;
    padding: 20px;
    width: 80%;

    /* Outer Layer with the timeline border */
    &--outer {
        border-left: 2px solid #ffffff;
    }

    /* Card container */
    &--card {
        position: relative;
        margin: 0 0 0px 20px;
        padding: 10px;
    }

    /* Information about the timeline */
    &--info {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    /* Title of the card */
    &--title {
        color: #ffffff;
        position: relative;
        font-size: 20px;
        font-weight: bold;
    }

    /* Timeline dot  */
    &--title::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 1px;
        left: -36px;
        bottom: 8px;
        border: 3px solid #ffffff;
    }
}