/* ==========================================================================
Global Styles
========================================================================== */
#main-row {
    margin-top: 50px;
}

#left-1 {
    background-color: #2f3a2c;
    color: #ffffff
}

#left-2 {
    background-color: #78462d;
    color: #ffffff
}

#right-1 {
    background-color: #a18570;
    color: #ffffff
}

#right-2 {
    background-color: #78462d;
    color: #ffffff
}