@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

/* ==========================================================================
Global Styles
========================================================================== */
* {
    font-family: 'Merriweather', serif;
}

#main-row {
    margin-top: 15px;
}

#green {
    background-color: #2f3a2c;
    color: #ffffff
}

#dark-brown {
    background-color: #78462d;
    color: #ffffff
}

#light-brown {
    background-color: #ab8b72;
    color: #ffffff
}

iframe {
    flex-grow: 1;
    border: none;
    margin: 0;
    padding: 0;
}


.timeline {
    margin: 20px auto;
    padding: 20px;
    width: 80%;

    /* Outer Layer with the timeline border */
    &--outer {
        border-left: 2px solid #ffffff;
    }

    /* Card container */
    &--card {
        position: relative;
        margin: 0 0 0px 20px;
        padding: 10px;
    }

    /* Information about the timeline */
    &--info {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    /* Title of the card */
    &--title {
        color: #ffffff;
        position: relative;
        font-size: 20px;
        font-weight: bold;
    }

    /* Timeline dot  */
    &--title::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 1px;
        left: -36px;
        bottom: 8px;
        border: 3px solid #ffffff;
    }
}